{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Acceuil{% endblock %}

{# Ici vous mettez vos codes HTML et balises Twig au besoin #}
{% block head%}

{% endblock %}
{% block body %}
<section class="homePage">
  <center>
    <table style="text-align:center; padding 20px;">
      <a href="{{ path('app_home') }}"> <img src="{{ asset('logoJNM.png')}}" style="width:80px;height:auto;"> </a>
      <p style="font-size:30px;color: rgb(103, 1, 1);font-style: oblique;">JOURNEE NATIONALE DE LA MIAGE NANTERRE</p>
      <tr style="font-size:40px;">
        <td id="days" style="background-color: rgb(103, 1, 1); color:white; border-radius: 20px; box-shadow: 1px 1px 5px rgb(103, 1, 1);"><center>00</center></td>
        <td id="hours" style="background-color: rgb(103, 1, 1); color:white; border-radius: 20px; box-shadow: 1px 1px 5px rgb(103, 1, 1);"><center>00</center></td>
        <td id="min" style="background-color: rgb(103, 1, 1); color:white; border-radius: 20px; box-shadow: 1px 1px 5px rgb(103, 1, 1);"><center>00</center></td>
        <td id="sec" style="background-color: rgb(103, 1, 1); color:white; border-radius: 20px; box-shadow: 1px 1px 5px rgb(103, 1, 1);"><center>00</center></td>
      </tr>

      <tr>
        <td style="width: 80px; color: rgb(103, 1, 1);">Jours</td>
        <td style="width: 80px; color: rgb(103, 1, 1);">Heures</td>
        <td style="width: 80px; color: rgb(103, 1, 1);">Minutes</td>
        <td style="width: 80px; color: rgb(103, 1, 1);">Seconds</td>
      </tr>
    </table>
  </center>

  <script "type=text/javascript">
  let msec = Date.parse("january 31, 2023");
  const x = new Date(msec);
  var y = x.getTime();
  var total = y+(24*60*60*1000);
  function count()
  {
    var now = new Date();
    var currentTime = now.getTime();

    var diff = total - currentTime;
    var s = Math.floor(diff/1000);
    var m = Math.floor(s/60);
    var h = Math.floor(m/60);
    var d = Math.floor(h/24-1);

    h = h%24;
    m = m%60;
    s = s%60;

    h = (h<10)?"0"+h:h;
    m = (m<10)?"0"+m:m;
    s = (s<10)?"0"+s:s;
    d = (d<10)?"0"+d:d;

    document.getElementById("days").innerHTML = d;
    document.getElementById("hours").innerHTML = h;
    document.getElementById("min").innerHTML = m;
    document.getElementById("sec").innerHTML = s;

    setTimeout(count);
  }
  count();
</script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:8000/" style="color: rgb(103, 1, 1);">Accueil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/activite" style="color: rgb(103, 1, 1);">Activités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/programmes" style="color: rgb(103, 1, 1);">Programmes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:8000/concours" style="color: rgb(103, 1, 1);">Concours Video</a>
        </li>

        {% if app.user %}
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(103, 1, 1);">{{ app.user.prenom }}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ path('app_logout') }}" style="color: rgb(103, 1, 1);">Se déconnecter</a>
            <a class="dropdown-item" href="#" style="color: rgb(103, 1, 1);">réservation un logement</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/transport" style="color: rgb(103, 1, 1);">réservation titre transport</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://127.0.0.1:8000/admin" style="color: rgb(103, 1, 1);">administration page</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(103, 1, 1);">Autre</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" style="color: rgb(103, 1, 1);">Information logement</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/transport" style="color: rgb(103, 1, 1);">Information titre transport</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: rgb(103, 1, 1);">Authentication</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="http://127.0.0.1:8000/login" style="color: rgb(103, 1, 1);">Connexion</a>
            <a class="dropdown-item" href="http://127.0.0.1:8000/register" style="color: rgb(103, 1, 1);">Inscription</a>
          </div>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Recherche activités">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" style="background-color: rgb(103, 1, 1); color:white;">Recherche</button>
      </form>
    </div>
  </div>
</nav>

<section class="loginPage">
    <div class="container px-3 py-3 px-md-1 text-center text-lg-start my-10" style="padding-left:100px;">
        <div class="row gx-lg-5 align-items-center mb-5" >
            <div class="col-lg-8 mb-5 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-10 py-1 px-md-5">
                        <h1 class="my-5 display-9 fw-bold ls-tight" style="color: rgb(103, 1, 1)">
                            Les Journées Nationales MIAGE <br />
                        </h1>

                        <p>
                        Chaque année, depuis la création de la formation, le réseau MIAGE tout entier se donne rendez-vous dans une ville différente pour les Journées Nationales MIAGE. Cet évènement annuel, qui se déroule sur 3 jours, rassemble plus de 400 étudiants. Ces journées sont basées sur un thème particulier et proposent conférences, expositions, rencontres avec les professionnels, sans oublier son traditionnel gala.
                        </p>
                        <p>
                        Cette année, les miagistes se regroupent dans le superbe cadre de la ville de Nanterre du 7 au 9 juin. Le thème de l'événement s'intitulera : Le bien-être en entreprise.
                        </p>
                        <div class="video-container">
                          <iframe width="80%" height="80%" src="https://www.youtube-nocookie.com/embed/gStrig4eOaY?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                        <p style="text-align: justify;">
                        <b>Le mot du président :</b><br><br>
                                            C'est avec un immense plaisir que l'équipe Nanterre des JNM2023 reprend le flambeau des JNM 2022 de Nice. <br><br>
                                            Beaucoup de challenges nous attendent pour être à la hauteur des éditions précédentes, c'est pourquoi toute l'équipe se donne au maximum pour que
                                            les Journées Nationales de la MIAGE 2023 soient une réussite autant pour les étudiants de toute la France que pour les entreprises qui y participent.
                                            Cette année, le thème des JNM se base sur l'histoire de la région Bretagne : La culture Celte, pilière de la culture bretonne. <br><br>

                                            Cette édition abordera également différents thèmes: l'innovation et le Big Data. Le premier reprend l'une des principales façon de penser des métiers
                                            de l'informatique: Innover. On la retrouve dans de nombreuses entreprises Rennaises, notamment dans l'état d'esprit des startups.
                                            Le deuxième est une étoile montante de la gestion de données, permettant de répondre à l'optimisation des grosses structures de données. <br><br>

                                            Toute l'équipe des JNM espère vous retrouver les 7,8 et 9 Juin pour un événement innoubliable ! <br><br>

                                            A très vite !
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</section>




          <section class="available merriweather py-5">

            <div class="container">

              <div class="row">

                <div class="card mb-3 border-0 rounded-0">

                  <div class="row">

                    <div class="col-md-6">

                      <img src="./image7.jpg" class="img-fluid" alt="...">

                    </div>

                    <div class="col-md-6">

                      <div class="card-body">

                        <h5 class="card-title">Le Campus et sa ville</h5>

                        <p class="card-text">

                          Théâtre d'une histoire riche en événements, l'Université Paris-Nanterre offre aujourd'hui un campus de 32 hectares.

                          <br>Lieu de vie et de culture avec sa piscine, ses espaces verts, son théâtre et sa bibliothèque, c'est un campus très prisé par les étudiants.

                          De par sa proximité avec la capitale, de nombreuses activités existent à proximité du campus Nanterre : tourisme, musées, expositions, parcs, concerts, festivals, humanitaire etc...

                        </p>

                        <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 days ago</a></p>

                      </div>

                    </div>

                  </div>

                </div>

                <div class="card my-5 border-0 rounded-0">

                  <div class="row">

                    <div class="col-md-6">

                      <div class="card-body">

                        <h5 class="card-title">La MIAGE de Nanterre</h5>

                        <p class="card-text">

                          l'université accueille des formations de pointe, des formations internationales et une recherche reconnue

                          dans le monde et maintes fois primée, dans les domaines les plus divers.

                          <br> Le cursus MIAGE à Nanterre se décline en 3 diplômes :

                          <br> - Un diplôme de Licence MIASHS parcours MIAGE.

                          <br> - Une double Licence Informatique Gestion au sein des Licence MIASHS et Licence Economie Gestion.

                          <br> - Un master MIAGE "Systèmes d'information fiables et intelligence des données".

                        </p>

                        <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 days ago</a></p>

                      </div>

                    </div>

                    <div class="col-md-6">

                      <iframe width="560" height="315" src="https://www.youtube.com/embed/elaNL4XWDCI" title="Qu’est-ce que le MASTER MIAGE - Méthodes Informatiques Appliquées à la Gestion des Entreprises ?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </div>

                  </div>

                </div>

                <div class="card mb-3 border-0 rounded-0">

                  <div class="row">

                    <div class="col-md-6">

                      <div id="carouselExampleIndicators" class="carousel slide">

                        <div class="carousel-indicators">

                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>

                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>

                        </div>

                        <div class="carousel-inner">

                          <div class="carousel-item active">

                            <img src="./image14.jpg" class="d-block w-100" alt="carousel-control-next-icon">

                          </div>

                          <div class="carousel-item">

                            <img src="./image15.jpg" class="d-block w-100" alt="carousel-control-next-icon">

                          </div>

                          <div class="carousel-item">

                            <img src="./image16.jpg" class="d-block w-100" alt="carousel-control-next-icon">

                          </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">

                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                          <span class="visually-hidden">Previous</span>

                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">

                          <span class="carousel-control-next-icon" aria-hidden="true"></span>

                          <span class="visually-hidden">Next</span>

                        </button>

                      </div>

                    </div>

                    <div class="col-md-6">

                      <div class="card-body">

                        <h5 class="card-title">Nos Partenaires</h5>

                        <p class="card-text">

                          Retrouvez les partenaires qui ont accepté de nous rejoindre pour cette journée !

                        </p>

                        <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 days ago</a></p>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </section>

{% endblock %}
