{% extends 'base.html.twig' %}

{% block title %}Concours Vidéo{% endblock %}



{% block body %}



    <div class="form-body">
    <a href="{{ path('app_home') }}"> <img src="{{ asset('logoJNM.png')}}" style="width:80px;height:auto;"> </a>
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items formConcours">
                        <h3>Concours vidéo JNM 2023</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br/> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br/>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco <br/> laboris nisi ut aliquip ex ea commodo consequat. <br/>
                        Duis aute irure dolor in reprehenderit in voluptate velit <br/>esse cillum dolore eu fugiat nulla pariatur. </p>

                        <a href="{{ path('app_concours_video') }}" style="color : white;">
                            <button class="btn btn-primary">
                                Participer
                            </button>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
